#año {
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 1%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: var(--sombraInputResumen);
    text-align: left;
    font-size: larger;
    text-decoration: none;
}

#año option {
    font-size: larger;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin-bottom: 1%;    
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: var(--fondoElementosTabla);
    font-weight: bold;
}

tr:nth-child(even) { /* Esto es para que se aplique sobre las filas pares */
    background-color: var(--fondoElementosTabla);
}

tr:hover {
    background-color: var(--fondoElementosTablaHover);
}

.pos {
    width: 5%;
}

.team {
    width: 45%;
}

h3 {
    margin-bottom: 1%;
    text-align: center;
}

.pts {
    width: 10%;
}

@media screen and (max-width: 759px) {
    #año {
        width: 60%;
    }
}