/* Inicio de importar fuentes */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); /* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); /* Racing Sans One */

/* Fin de importar fuentes */

/* Inicio Variables */

:root {
  /* Fondos / Colores de letra */
  --colorLetraHeaderH1: white;
  --colorLetraPilotos: white;
  --colorLetraMenu: white;
  --colorFondoMenu: #e10600;
  --fondoImagenPilotosHover: rgba(225, 6, 0, 0.4);
  --colorGuionDeLosTitulos: #e10600;
  --fondoBotonFormulario: #e10600;
  --fondoElementosTabla: #f2f2f2;
  --fondoElementosTablaHover: #ddd;
  /* Fuentes de letra */
  --fuenteMenu: "Bebas Neue", sans-serif;
  --fuenteLetraTitulo: "Racing Sans One", sans-serif;
  --fuenteLetraTitulosH2: "Russo One", sans-serif;
  --fuenteGeneral: sans-serif;
  /* Sombras */
  --sombraTarjetas: 10px 8px 10px 8px #888888;
  --sombraFotosPilotos: 0px 15px 25px rgba(0, 0, 0, 0.781);
  --sombraInputResumen: 0 4px 8px black;
  /* Transiciones */
  --transicionPilotos: all 400ms ease-out;
  /* Animaciones */
  --animacionBotonHover: botonHover 0.3s linear 1;
}

/* Fin Variables */

/* Inicio Keyframes */
@keyframes botonHover {
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes aparecer {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fin Keyframes */

.negrita {
  font-weight: bold;
}

/* Inicio Utiles */

.animado {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.8s ease-in-out forwards; /* forwards el elemento mantendrá la apariencia final de la animación en lugar de volver a la apariencia inicial */
}

.otra-animacion {
  animation: zoom 1s ease-in-out forwards;
}

.tituloSecciones {
  font-family: var(--fuenteLetraTitulosH2);
  letter-spacing: 0.15rem;
  margin-top: 1.25rem;
  margin-left: 2.5%;
  font-size: 2.188rem;
}

.guionTitulo {
  color: var(--colorGuionDeLosTitulos);
}

/* Fin Utiles */